<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- Site Icons -->
      <link rel="shortcut icon" href="static/images/logos.png" type="image/x-icon">
      <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <!-- Pogo Slider CSS -->
      <link rel="stylesheet" href="static/css/pogo-slider.min.css">
    <!-- Site CSS -->
      <link rel="stylesheet" href="static/css/style.css">    
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="static/css/custom.css">
</head>

<body>



  <!--==========================
    Header
  ============================-->
  
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="static/images/logos.png" alt="image" width="180px" height="70px"></a>
				
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                  {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-link" href="#about">About Us</a></li>
                        <li><a class="nav-link" href="#services">Our services</a></li>
					            	<li><a class="nav-link" href="For Patient">For Patient</a></li>
                        <li><a class="nav-link" href="#Contact">Contact</a></li>
                        <li><a class="nav-link" href="/accounts/register">Login</a></li>
                        <li><a class="nav-link" href="/logout">Logout</a></li>
                  
                    </ul>
                    
                    
        
                    {% endif %}
                  </div>
		
            </div>
        </nav>
	</header>
	<!-- End header -->

</body>

</html>