{%extends 'base.html'%}
{% load bootstrap4 %} 
{% load static %}
{% block content %}

  
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> {% endblock %}

</head>

<style>
    #top{
       background-image: url('https://images.unsplash.com/photo-1512069511692-b82d787265cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=399&q=80');
       background-size: 78% 100%;
       background-repeat: no-repeat;
       height: 410px;
      }
    #form{
      border-style: ridge;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    #hh1{
      text-align: center;
      color: #13a456;
      font-family: 'FontAwesome';
      font-weight: bold;
      font-size: 40px; 
      
    }
    </style>
<body>

<div class="container-fluide"> <br> <br> <br>

      <div class="row">
      <!-- Empty div -->
      <div class="col-md-5">
        <div id="top"></div>
      </div>
      
      <!-- empty div -->
      <div class="col-md-3">
          
          <div class="panel panel-default">
              
            <div class="panel-heading">
            
              <h1 id="hh1">Render-vouz</h1> <br>
            </div>
            <div class="panel-body">
    
              <form  action="{%url 'post'%}" method="post" >
                {% csrf_token%}
                {% bootstrap_form form layout='inline' %}
                
                <div class="form-group">
                  
                  <input type="submit" class="btn btn-success btn-lg" value="Make an Appointment">
          
                </div>
                
          
              </form>
             
            </div>
    
          </div>
      </div>
    </div>
  </div>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

{% endblock %}