{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<style>
#top{
  background-image: url('https://i.pinimg.com/originals/bd/e8/92/bde8923f0022a1681ee0e2c560640b31.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 410px;
}
#form{
  border-style: ridge;
}
#hh1{
  text-align: center;
  color: #13a456;
  font-family: 'FontAwesome';
  font-weight: bold;
  font-size: 40px; 
  /* text-shadow: -1px 0 #18d26e, 0 1px #18d26e, 1px 0 #18d26e, 0 -1px #18d26e; */
}
#hh3{
  font-size: 20px;
  color: #111;
  font-family: 'FontAwesome';
}

</style>
<body>
  

<div class="container-fluide"> <br> <br> <br> <br> <br>
<div id="form">
    <div class="row">
    <!-- Empty div -->
    <div class="col-md-5">
      <div id="top"></div>
    </div>
    <div class="col-md-1"> </div>
    <!-- empty div -->
    <div class="col-md-3">
        {% if form.errors %}
        <p> Password or Username is incorrect </p>
        {% endif %}
        <div class="panel panel-default">
            
          <div class="panel-heading">
            <h3 class="text-center" id="hh3">Sign In</h3>
          </div>
          <div class="panel-body">
  
            <form action="/accounts/login/" method="post">
              
              {% csrf_token %}
              {% bootstrap_form form%}
  
              <div class="form-group">
                <input type="submit" class="btn" value="Login">
              </div>
              <input type="hidden" name="next" value="{{next}}">
  
            </form>
            <p style="margin-left: 15px"> Don't you have an account?  <a class="btn btn-sm" style="margin: 5px;font-size: 20px; color: #111;" href="/accounts/register/">Create account </a> </p>
          </div>
  
        </div>
    </div>
  </div>
</div>
</div> 
</body>
{% endblock %}

